/* Colors & Units */

.color-name {
  color: tomato;
}

.color-hex {
  color: #3498db;
}

.color-rgb {
  color: rgb(46, 204, 113);
}

.color-rgba {
  color: rgba(155, 89, 182, 0.7);
}

.color-hsl {
  color: hsl(200, 80%, 50%);
}

.unit-px {
  font-size: 16px;
}

.unit-percent {
  width: 50%;
  border: 2px solid black;
}

.unit-rem {
  font-size: 2rem;
}

.unit-em {
  font-size: 1.5em;
}

.unit-vh {
  height: 20vh;
  border: 2px solid pink;
}

.unit-vw {
  width: 30vw;
  border: 2px solid cyan;
}
